{:paths ["src"]
 :deps {org.clojure/clojurescript {:mvn/version "1.11.132"}}
 :aliases
 {:compile-test
  {:extra-paths ["test"]
   :main-opts ["-m" "cljs.main"
               "--target" "node"
               "--output-to" "target/test/de-dupe-test.js"
               "--compile" "de-dupe.test.core"]}
  :test
  {:extra-paths ["test"]
   :main-opts ["-m" "de-dupe.test-runner"]}
  :compile-bench
  {:extra-paths ["bench"]
   :main-opts ["-m" "cljs.main"
               "--target" "node"
               "--output-to" "target/bench/de-dupe-bench.js"
               "--compile" "de-dupe.bench"]}
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.13"
                                         :git/sha "ae52edfedef4ca72e699e9c86abfe0940e97dc26"}
          slipset/deps-deploy           {:mvn/version "0.2.3"}}
   :ns-default build}}}
